

<h3>Soupkitchens</h3>

<ul>
	<% @soupkitchens.each do |soupkitchen| %>
		<li><%= soupkitchen.name %> </li>
		<li><%= soupkitchen.address %></li>
		<li><%= soupkitchen.indoors %></li>
		add comments here 
	    add images 
	<% end %>	
</ul>
  
