
<div class="welcome">
<h2>Yelp for Soup Kitchens and Food Pantries in Philadelphia</h2>

<h3> Who wants to visit a soup kitchen or food pantry that's dirty and the people are mean? Time to gather and share info about where to get healthy food.</h3> 
<h3>Check these out -- and leave a comment about food, service and experience for others. </h3>


<%= link_to "See Soup Kitchens", soup_kitchens_path %> -- 
<%= link_to "Add", new_soup_kitchen_path %>
<br>
(link_to LOGIN to add comments)
</div>
